*{
	margin: auto;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-color: #53d3ec;
}
.logo{
	width: 1200px;
	height: 150px;
	background:url(../images/logo.jpg) no-repeat;
}
.logo p{
	float: right;
	margin: 10px;
	color: #134373;
}
.main{
	width: 1200px;
	background-color: #53d3ec;
	margin: auto;
	color: #fff;
	position: relative;
}
.nav{
	margin: 0;
	width: 1200px;
	height: 60px;
	
}
ul{
	width: 1200px;
}
li{
	width: 240px;
	height: 60px;
	line-height: 60px;
	float: left;
	text-align: center;
	list-style: none;
	background-color: #134373;
}
li:hover{
	background-color: #247bd2;
}
li a{
	text-decoration: none;
	color: #fff;
	font-size: 22px;
	display: block;//让文字和块绑定
}
.fa{
	width: 1200px;
	margin-top:-50px;
	height: 1150px;
	color: #134373;
	margin-left:100px;
}
.fa img{
	width: 250px;
	height: 250px;
}
.fa h3{
	font-size: 20px; 
	margin: 10px
}
.fanhui p a{
	position: absolute;
	right: 40px;
	bottom: 60px;
	font-size: 19px;
}
.footer{
	width: 1200px;
	height: 60px;
	line-height: 60px;
	background-color:#134373;
	text-align: center;
	color: #fff;
}